.header h4 {
    margin-bottom: -13px;
}

.dropdown {
    float: none;
    top: 0px;
}

#dropdown_btn {
    padding: 0px;
}

#dropdown_btn,
.select_dropdown li {
    font-size: 17px;
}

.dropdown-menu {
    float: left;
    left: auto;
    right: auto;
    margin-top: 10px;
}

@media (max-width: 580px) {
    #dropdown_btn,
    .select_dropdown li {
        font-size: var(--theme-body-font-sm);
    }
}

@media (max-width: 669px) {
    .dropdown-menu {
        min-width: 121px !important;
        width: fit-content;
    }
    #week_title {
        margin-bottom: 15px;
    }
    #dropdown_btn,
    .select_dropdown li {
        font-size: var(--theme-body-font1);
    }
}

.card {
    margin-bottom: 0px!important;
}

.groupBy-date-title {
    font-weight: bold;
    font-size: var(--theme-body-font2);
    margin: 15px 0px 10px;
}

.com-matches-section {
    margin-bottom: 15px;
}