<div id="loading" *ngIf='showloader'>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">

    <div class="match-page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="match-page-header">
                    <p>All Competitions</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 remove_right_padding lr-padd">

                <div class="collapse in  no-padding" id="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                    <div class="col-md-6 no-padding" *ngFor="let item of Competition_list|orderBy:'name';let t = index">
                        <div *ngIf="Competition_list.length > 0">
                            <div class="card list_item">
                                <div class="match-list-card-body">
                                    <div (click)="CompetitionDetails(item.id)">
                                        <div class="row match-list theme-hover">
                                            <div class="list-line">
                                                <div class="col-md-10 col-sm-10 col-xs-10 no-r-padd">
                                                    <div class="team_flag">
                                                        <div class="name">
                                                            <p>
                                                                <img src="https://footzyscore.com/assets/img/flags/{{item.country_id}}.png" onError="this.src='assets/img/avt_flag.png'" />
                                                                <span>{{item.name}}</span>
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <div class="team_arrow theme-hover">
                                                        <p class="rigth_arrow"> <i class="fa fa-chevron-right " aria-hidden="true"></i>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div *ngIf="array_length <= 0">
                            <div class="list-line row match-list show-responsive-list">
                                <p>No Competitions Found </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar -->
            <div class="col-sm-12 col-md-4 col-lg-4 remove_left_padding">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar end -->
        </div>
    </div>
</div>