<div id="loading" *ngIf='showloader'>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">

    <div class="match-page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="match-page-header">
                    <p>About Us</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 remove_right_padding lr-padd">

                <div class="collapse in  no-padding" id="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                    <div class="col-md-6 no-padding">


                    </div>
                </div>
            </div>

            <!-- sidebar -->
            <div class="col-sm-12 col-md-4 col-lg-4 remove_left_padding">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar end -->
        </div>
    </div>
</div>