<div id="loading" *ngIf='showloader'>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="container">
    <div class="match-page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="match-page-header">
                    <p>About Us</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 remove_right_padding">
                <div class="card">
                    <div class="card-body page_body">

                        <h1>Footzy Score Football.</h1>
                        <h4>Live Score – Fixtures – Commentary </h4>
                        <p>Footzy score is india based startup providing live score updated on Football matches all around the world. We provide real time updates and live scores on football from all around the world. We support 25+ major league played in
                            Europe and Asia.</p>

                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <div class="col-sm-12 col-md-4 col-lg-4 remove_left_padding">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar end -->
        </div>
    </div>
</div>