.visited-team-flag img {
    width: 45px;
}

.visited-team h3 {
    margin-top: 5px;
}

.team_title {
    font-size: 20px;
    margin-top: 15px;
}

@media (max-width: 400px) {
    .nav-tabs>li>a {
        padding: 10px 10px
    }
}