<div id="loading" *ngIf='showloader'>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="container">
    <div class="match-page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="match-page-header">
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 remove_right_padding">
                <div class="card">
                    <div class="card-body page_body">
                        <h1>Data Privacy Policy (Websites)</h1>
                        <p>Data protection and the private sphere of the users are very important to Footzy Score. The gathering and use of your personal data takes place exclusively within the framework of the statutory provisions of applicable data protection
                            laws. By means of this data privacy policy, Footzy Score is providing information concerning the processing of personal data on the Footzy Score websites and in the web applications (hereinafter referred to jointly as “websites”).
                        </p>

                        <ol>
                            <li>
                                <h4>1 Point of contact</h4>
                                <p>The contact and so-called responsible body for the legality of the processing of your personal data under data protection laws is</p>

                                <p>Footzy score 60 Ambika Nagar, Surat 394101 Gujarat India</p>
                                <p>Should you have any questions relating to data protection, you can get in touch with our company’s data protection officer at any time. The data protection officer can be contacted at the postal address above, as well as
                                    by email at starapps60@gmail.com. The data protection officer is also available should you have any queries concerning the transfer of data to third countries and can provide copies or guarantees in the form of standard
                                    data protection clauses.</p>
                            </li>
                            <li>
                                <h4>2 Area of applicability</h4>
                                <p>This data privacy policy applies to Footzy Score website with all online offers, content, functions and services, even if these only contain seasonal, short term or event related services (for example European Championships
                                    or World Cup, special features)</p>
                            </li>
                            <li>
                                <h4>3 Processing of personal data</h4>
                                <p>Personal data is processed, if you simply access our website (information related use) and if you enter data or click on buttons (use with interaction).</p>
                                <p>Personal data is information relating to factual or personal relationships of a defined or definable natural person. Above all, this includes information which allows your identity to be traced, for example name, address
                                    or email address or also favourite team.</p>
                                <p>Statistical data, which we gather during a visit to our apps for example and which cannot be connected to you, does not come under the definition of personal data.</p>
                                <ul class="sub_points">
                                    <li>
                                        <h5>3.1 Information related use</h5>
                                        <P>In case of simple information related use of the website, i.e. if you have not logged in and do not transfer other information to us, we do not gather any personal data, with the exception of the data which your
                                            browser transfers in order to allow you to visit the websites. These include:</P>
                                        <ul class="sublist">
                                            <li>
                                                <p>IP address</p>
                                            </li>
                                            <li>
                                                <p>Date and time of the access</p>
                                            </li>
                                            <li>
                                                <p>Time zone difference to GMT</p>
                                            </li>
                                            <li>
                                                <p>Content of the request (concrete page)</p>
                                            </li>
                                            <li>
                                                <p>Access status / HTTP status code</p>
                                            </li>
                                            <li>
                                                <p>Respective data quantity transferred</p>
                                            </li>
                                            <li>
                                                <p>Website from which the request originates</p>
                                            </li>
                                            <li>
                                                <p>Browser</p>
                                            </li>
                                            <li>
                                                <p>Operating system and its interface</p>
                                            </li>
                                            <li>
                                                <p>Language and version of the browser</p>
                                            </li>
                                        </ul>
                                        <p>
                                            The IP addresses are deleted after the end of the use or are anonymised after a maximum of seven days. In case of anonymisation, the IP addresses are altered in such a way that the individual information concerning personal or factual circumstances can
                                            no longer be assigned to a person or only with a disproportionately high degree of expense in terms of time, costs and manpower. The data in so-called log files is evaluated by us in anonymised form in order
                                            to continually improve our apps and make them more user friendly, as well as in order to find and correct errors more quickly. In addition, this is used in order to manage server capacities, in order to be able
                                            to make corresponding data volumes available, when required.
                                        </p>
                                        <p>The data processing is necessary so that you can find out about the content of Footzy Score. The legal basis is Article 6 Paragraph 1 f) GDPR, based on the legitimate interest of Footzy Score in informing users
                                            of our content. The processing of the named data is necessary in order to provide the content. Otherwise, it is not possible for you to use the website as requested.</p>

                                        <h5>3.2 Use with interaction</h5>
                                        <p>In contrast to our apps, there is not much scope for interaction on our websites. You can currently participate primarily in surveys. The data is only saved by using cookies (see number 6 below), is not assigned
                                            to your person and is deleted once the survey is removed from the respective website (which can differ depending on the survey). </p>

                                    </li>
                                </ul>

                            </li>
                            <li>
                                <h4>4 Disclosure of personal data</h4>
                                <p>In principle Footzy Score does not pass your personal data on to third parties. The data gathered by us is only passed on to third parties, if this is necessary to provide the technical functionality of the websites or
                                    another legal basis for the disclosure of data exists. Personal data may only be used by our service providers in order to fulfil their tasks. These were carefully selected by us and engaged in writing. They are subject
                                    to our instructions and are regularly monitored by us. Other use of the information is not permitted and is not carried out by any of the service providers used by us.</p>
                                <p>Alongside the service providers listed separately in this data privacy policy, data may be disclosed to individual categories of recipients, i.e. to companies in order to support promotions and special campaigns, as well
                                    as to external advisors and enforcement authorities.</p>
                            </li>
                            <li>
                                <h4>5 Cookies</h4>
                                <p>Cookies are small files which are saved on your data carrier and which save certain settings and data for the exchange with our system via your browser. Cookies cannot start any programmes or transfer viruses to your computer.
                                    The purpose of cookies is to make the Internet service more user friendly and effective overall.</p>

                                <p>As a rule, there are two types of cookies, so-called session cookies which are deleted once you close your browser (= end of the session) and temporary/permanent cookies, which are saved on your data carrier for a longer
                                    period of time or permanently. This saving helps us design our website and makes the use of it easier for you, as certain information is saved which means you do not need to constantly repeat the process (for example,
                                    saving the language in which the websites were viewed). Analysis procedures are also based on cookies (see Number 7 Analysis).</p>
                                <p>You can delete the cookies in the security settings of your browser at any time and configure your browser setting to your wishes (for example, the acceptance of third party cookies or the rejection of all cookies). As
                                    a rule, you will be informed how to reject new cookies and delete existing cookies in the menu list of your web browser via the help function. However, we wish to point out that in such a case, you may not be able to
                                    use all functions of our websites.</p>

                            </li>
                            <li>
                                <h4>6 Analysis</h4>
                                <p>In order to improve our websites, we use various technologies to analyse the usage behaviour and to evaluate the associated data. This procedure takes anonymously or on the basis of pseudonyms. Below, we wish to explain
                                    these technologies and the providers used for this purpose in more detail.</p>
                                <p>Footzy Score uses Google Analytics and Google Publisher Tag (GPT), both web analysis services of Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (“Google”). Google Analytics uses cookies in order to
                                    analyse our website in relation to your user behaviour. The information concerning the use of this website which is generated by the cookies is transferred to a server of Google in the USA and saved there. In cases
                                    where personal data is transferred to the USA, Google has undertaken to comply with the <span>EU-US Privacy Shield</span>. However, your IP address will be shortened before the evaluation of the use statistics, so that
                                    your identity cannot be traced. In this respect, Google Analytics was extended on our website by the “anonymizeIp“ code, in order to ensure anonymous recording of IP addresses.</p>
                                <p>Google will use the information generated by the cookies in order to evaluate your use of the website, to compile reports concerning the website activities for the website operator and to provide additional services connected
                                    to the use of the website and the use of the Internet.</p>

                                <p>As shown above, you can configure your browser in such a way that it rejects cookies or you can prevent the recording and processing by Google of the data generated by the cookies which relates to your use of this website
                                    (including the IP address) by downloading and installing the <span>browser plug-in</span>.</p>
                                <p>As an alternative to the browser add on or within browsers on mobile devices, you can set an opt out cookie in order to prevent recording by Google Analytics within this website in the future (the opt out function only
                                    works in the browser and only for this domain). Should you delete your cookies in this browser, you need to click this link again. Click the following button for this purpose:</p>
                                <h5>CUSTOM OPT OUT</h5>
                                <p>The purpose and scope of the data gathering by Google, as well as the further processing and use of your data there and your rights and settings options for the protection of your private sphere in this respect can be found
                                    in the <span>data privacy and security notices </span>of Google.</p>

                            </li>
                            <li>
                                <h4>7 Inclusion of videos</h4>
                                <p>We have included videos in our websites which are saved with <span>YouTube</span> and which can be played directly from our websites. YouTube is a group company of Google and a multimedia service of YouTube LLC, 901 Cherry
                                    Ave., San Bruno, CA 94066, USA.</p>
                                <p>By means of the visit to our websites, YouTube is informed that you have accessed the corresponding sub-page of our websites. This takes place regardless of whether you are logged into YouTube or not. Should you be logged
                                    in to YouTube, your data is however assigned directly to your account. Should you not wish for this to take place, you need to log out before viewing the video.</p>
                                <p>YouTube saves your data as usage profiles and uses these for the purposes of advertising, market research and designing its website in line with customer requirements. Such an evaluation takes place even for users who are
                                    not logged in. As shown above, you can configure your browser in such a way that it rejects cookies or you can prevent the recording and processing by Google of the data generated by the cookies which relates to your
                                    use of this website by deactivating the “Personalised advertising on the web” button in the Google <span>advertising settings</span> . In this case, Google will only continue to display general advertising which was
                                    not selected on the basis of the information relating to you which was recorded.</p>
                                <p>In cases where personal data is transferred to the USA, Google has undertaken to comply with the <span>EU-US Privacy Shield</span>. The legal basis is Article 6 Paragraph 1 f) GDPR, based on the legitimate interest of Footzy
                                    Score in providing video and picture contents.</p>
                                <p>The purpose and scope of the data gathering by YouTube, as well as the further processing and use of your data there and your rights and settings options for the protection of your private sphere in this respect can be
                                    found in the <span>Data privacy</span> policy of Google.</p>

                            </li>
                            <li>
                                <h4>8 Your rights</h4>
                                <p>If you request, we will notify you whether and what data relating to you is saved by us. Should the statutory requirements be present, you also have the right to correction, restriction of the processing or deletion of
                                    the data. You also have the right to receive the data relating to you in a structured, up-to-date and machine readable format from us. In order to claim these rights, please get in touch via the contact information
                                    above. This also applies, if you wish to object to the processing of your data in accordance with this data privacy policy in full or in relation to individual measures.</p>
                                <p>Finally, you have the right to complain to the competent supervisory authority for data protection, should you be of the opinion that the processing of personal data relating to you breaches data protection laws. You can
                                    claim this right by contacting a supervisory authority in the member state of your place of residence, place of employment or the location of the alleged breach. In Berlin, Germany, the competent authority is: Data
                                    protection and information freedom officer of Berlin (Berliner Beauftragte für Datenschutz und Informationsfreiheit), Friedrichstr. 219, 10969 Berlin.</p>
                            </li>
                            <li>
                                <h4>9 Changes to the data privacy policy</h4>
                                <p>We reserve the right to alter this data privacy policy. The current version can be accessed on our website.</p>
                                <h5>As of: August 2018</h5>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <div class="col-sm-12 col-md-4 col-lg-4 remove_left_padding">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar end -->
        </div>
    </div>
</div>