<div id="loading" *ngIf='showloader'>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="container">
    <div class="match-page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="match-page-header">
                    <p>Terms & Conditions</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 remove_right_padding">
                <div class="card">
                    <div class="card-body page_body">
                        <ul>
                            <li>
                                <h4>1. General</h4>
                                <p><span class="number-list"> 1.1</span>Operator of the applications “Footzy Score” (“App” or “the Apps”) is the Footzy Score, 60 Ambika Nagar, Mota Varachha, Surat. </p>
                                <p><span class="number-list"> 1.2</span>Footzy Score allows users of web applications to consume and share various media-based football news in a simple and straightforward manner. Such media materials are stored by different
                                    hosting platforms (e.g. YouTube, Vimeo, Dailymotion) or by Footzy Score directly. The Apps are made available to users of different mobile end devices (e.g. iOS, Android, etc.) or via the web app and can currently be
                                    used worldwide in several languages in a fast and user-friendly way. As a football community, Footzy Score provides a platform that enables fans to follow their favourite teams and share news with friends, and presents
                                    football news, live scores, videos and other functions on a variety of channels.</p>

                            </li>
                            <li>
                                <h4>2. Scope</h4>
                                <p><span class="number-list">2.1</span>These terms and conditions apply to Footzy Score Apps and include all online services, content, features and offers within the various apps in the offered operating systems (iOS, Android,
                                    Windows). By using Footzy Score Apps, you agree to the terms and conditions’ validity and accept them as binding. Please read them carefully.</p>

                                <p><span class="number-list">2.2</span>The terms and conditions are applicable for both consumers and businesses. They are always available online and apply to all one-time and ongoing services, unless specific rules apply.
                                    Opposing or deviating terms and conditions of the user are not binding, unless they are expressly agreed upon in writing.</p>
                                <p><span class="number-list">2.3</span>Footzy Score reserves the right to change these terms and conditions or to adapt them in the future, e.g. due to legal changes, in order to take into account changes in services or loopholes.
                                    In that case, users will be informed in an appropriate manner.</p>
                            </li>
                            <li>
                                <h4>3. Contract</h4>
                                <p><span class="number-list">3.1</span>Subject of this contract is the free-of-charge or in-return-for-payment use of Footzy Score Apps.</p>
                                <p><span class="number-list">3.2</span>The service of Footzy Score is addressed to users who are 14 and older. Users under 18 years (“minors”) require the consent of their parent or guardian.</p>
                                <p> <span class="number-list">3.3</span>In the free-of-charge version of the Apps, advertising is displayed and may take the form of banners, full-screen or logos of sponsors and may need to be closed by clicking a box to go
                                    back to the App. Users of the respective App are not allowed to edit, remove or obscure any advertisements.</p>
                                <p><span class="number-list">3.4</span>Please note that branding and product integrations are not considered as advertisements and therefore are not part of the Banner Free version. Such integrations are usually campaigns
                                    from exclusive business partners of Footzy Score, which are integrated in the app and become part of the product.</p>

                                <p><span class="number-list">3.5</span>Footzy Score reserves the right to cease rendering services that are free of charge at any time without prior notice. In this case the user is not entitled to claim continuation of the
                                    service.
                                </p>
                                <p><span class="number-list">3.6</span>Footzy Score reserves the right to extend, modify or delete services or to make improvements, especially if these serve the technical progress, appear to be necessary or prevent abuse.
                                    The changes can alter the appearance, design, navigation or features of the Footzy Score Apps. In this case Footzy Score does its best to consider the user experience.</p>

                                <p><span class="number-list">3.7</span>Both users and Footzy Score may terminate this contract with immediate effect at any time for the free version as well as for the Banner Free version. In this case, you are no longer
                                    bound by these terms and conditions. Denunciation shall be effective by deleting the App from the respective mobile device. A refund for the paid version Footzy Score Banner Free is not possible.</p>
                            </li>
                            <li>
                                <h4>4. Usage of Footzy Score Apps</h4>
                                <p><span class="number-list">4.1</span>You may download and use the Apps without registration on different devices in the respective app stores or use the web app. For some functions, in particular social media channels, a
                                    registration is required.</p>
                                <p><span class="number-list">4.2</span>If maintenance is required and therefore an App of Footzy Score is not available, you will be informed in advance if possible. Footzy Score is not responsible for internet-/network-related
                                    downtime and especially not for downtime in which an App is not available due to technical or other problems not within Footzy Score’s sphere of influence (e.g. force majeure, third party, etc.).</p>

                            </li>
                            <li>
                                <h4>5. Indemnity</h4>
                                <p><span class="number-list">5.1</span>You will hold Footzy Score harmless against all claims, including claims for damages asserted by other users or third parties (including public authorities), for an infringement of third-party
                                    rights resulting from your posted content in the App. The user covers all reasonable costs, including costs for legal defence, arising for Footzy Score owing to a violation of the rights of third parties caused by the
                                    user. All other rights, including damage claims by Footzy Score, remain unaffected.</p>

                                <p><span class="number-list">5.2</span>The foregoing obligations shall only apply in so far as you are responsible for the infringement, you have acted knowingly or wilfully, or you have failed to exercise reasonable care.</p>
                                <p><span class="number-list">5.3</span>You will take the appropriate measures to secure your uploaded and stored data and content regularly and create your own backups for reconstruction in the event of loss of data and information.</p>
                                <p><span class="number-list">5.4</span>It is technically not possible for Footzy Score to determine with certainty whether a registered user actually has the identity that he claims to have. Footzy Score can therefore not
                                    accept any liability for the correct identity of users.</p>
                            </li>
                            <li>
                                <h4>6. Responsibility for content/functionality of the Apps</h4>
                                <p><span class="number-list">6.1</span>Footzy Score provides various media content within the individually offered Apps. The provided content may also be copyrighted third-party content. Such content does not belong to Footzy
                                    Score and there is no way to change the content of third parties. Footzy Score assumes no responsibility for the accuracy, legality, completeness and timeliness of contributions, in particular for the content and information
                                    contained on third-party websites, which are referred to via links from the App. Therefore Footzy Score is not liable for damages caused by the provision of third party content, such as infringement of copyright or
                                    other rights of third parties.</p>
                                <p><span class="number-list">6.2</span>Within the Apps, available third party media-material and content is not stored or hosted by Footzy Score. The respective content of third parties is only stored in the corresponding
                                    hosting platforms (e.g. YouTube, Vimeo, Dailymotion). Footzy Score has no influence on the scope and the period of storage and availability of any third-party content or media materials.</p>
                                <p><span class="number-list">6.3</span>Users of the Apps have no right to demand the access to a certain piece of content or the availability of media functions.</p>
                                <p><span class="number-list">6.4</span>Footzy Score is not obligated to improve, update/upgrade the Apps or make available content and features in the respective App. Footzy Score does not guarantee certain functionalities
                                    of the Apps.</p>
                            </li>
                            <li>
                                <h4>7. Liability</h4>
                                <p><span class="number-list">7.1</span>Footzy Score is liable only for intent and gross negligence, including intent or gross negligence of its representatives or agents.</p>
                                <p>In cases of slight negligence Footzy Score is only liable</p>
                                <p>a) in case of culpable injury to life, body or health,</p>
                                <p>b) in case of culpable breach of an essential contractual obligation (a duty, whose fulfilment makes possible the purpose of the contract and the proper use of the Apps and on whose observance the user usually trust). The
                                    claim for damages is then limited to the foreseeable, typically occurring damage.</p>

                                <p><span class="number-list">7.2</span>The above limitations do not apply if Footzy Score fraudulently conceals a circumstance regarding the standard of the Apps or guarantees a certain functionality of the Apps. The same
                                    applies to any claims by the user according to the Product Liability Act.</p>
                            </li>
                            <li>
                                <h4>8. Revocation</h4>
                                <p>Regarding the use of the service Footzy Score Banner Free, you are generally entitled to a statutory right of revocation if you are a consumer who is ordinarily resident or resident in the European Union.</p>
                                <p>General – Right of revocation</p>
                                <p>You have the right to revoke this contract within fourteen days without providing a reason. The revocation period is fourteen days from the date of conclusion. To exercise your right of cancellation, you must inform Footzy
                                    Score (letter, e-mail) of your decision to revoke this contract with a clear explanation. To comply with the revocation deadline, it is sufficient that you send the communication concerning the exercise of the right
                                    of withdrawal before this deadline.</p>
                                <p>Special note</p>
                                <p>Your right of revocation expires prematurely for contracts for the supply of digital content (such as the app) that are not saved on a tangible medium when Footzy Score begins with the execution of the contract before the
                                    end of the revocation period after you explicitly agree and confirm that you will lose your right of revocation with the beginning of the contract’s execution.</p>
                            </li>

                            <li>
                                <h4>9. Privacy policy</h4>
                                <p>Information on the processing of personal data can be reviewed in <span>Footzy Score’s privacy policy Web </span>and <span>Footzy Score’s privacy policy Apps</span>. We want to point out the scope of the respective privacy
                                    policies.
                                </p>
                            </li>
                            <li>
                                <h4>10. Final provisions</h4>
                                <p>The possible invalidity of one or more provisions of these terms and conditions shall not invalidate the remaining provisions.</p>
                                <p>Any use of the Footzy Score Apps or data, information, texts, text parts or images contained herein, and every action, toleration or omission related to the use of the Apps is exclusively subject to German Law.</p>
                                <p>This also applies to the use or registration of users from other countries. The jurisdiction is determined by Footzy Score’s location (Surat, India).</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <div class="col-sm-12 col-md-4 col-lg-4 remove_left_padding">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar end -->
        </div>
    </div>
</div>